.git
.github
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.example
tests
*.md
.editorconfig
.gitattributes
.gitignore
database/database.sqlite